body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header,
.banner,
.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: lighter;
}

.header {
    padding: 1em 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.header ul {
    display: flex;
    gap: 1em;
}

.header li {
    list-style: none;
}

.header li a,
.logo a {
    color: #F9FAF8;
    text-decoration: none;
}

.banner-text {
    width: 520px;
    flex: 1;
}

.banner button {
    color: #F9FAF8;
    background-color: #3B82F6;
    border-radius: 8px;
    padding: .75em 2.5em;
    border-style: none;
    font-weight: bold;
    font-size: 18px;
}

.banner {
    min-height: auto;
    margin-top: -1px;
    padding: 2em 12em 6em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
}


.info-block {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 1em;
    padding: 2em 10em;
}

.info-block h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border: solid 4px #3B82F6;
    border-radius: 13px;
}

.card p {
    text-align: center;
}

.quote-block {
    min-height: 20vh;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 10em;
}

.testimony {
    align-self: center;
    max-width: 750px;
}

.testimony .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.testimony .signature {
    text-align: end;
    font-weight: bold;
    
}
